@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <center>
        <h1>Server Error!</h1>
        <hr />
        <p>Looks like the server is down. We are fixing this issue.</p>
        <a href="#" onclick="window.history.back()">Go back</a>
    </center>
</body>
</html>
