
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrUnauth</title>
</head>
<body>
    <center>
        <h1>Unauthorised Access!</h1>
        <hr />
        <p>You do not have any permission to view this part of the site</p>
        <a href="#" onclick="window.history.back()">Go back</a>
    </center>
</body>
</html>
